---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import Card from "../components/Card.astro";

// import Counter from "./Counter.jsx";
// import DynamicList from "./DynamicList.astro";

const staticContent = "¡Este contenido es renderizado 100% en HTML!";
---

<Layout title="Welcome to Astro.">
	<Hero />

	<main class="container mx-auto px-4 py-8">
		<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
			<Card
				title="Rendimiento"
				body="Astro minimiza el JavaScript en el cliente, entregando solo lo necesario."
			/>
			<Card
				title="Flexibilidad"
				body="Combina frameworks como React, Vue y Svelte en una misma página."
			/>
			<Card
				title="Facilidad de uso"
				body="Configuración sencilla, soporte para Markdown y herramientas modernas."
			/>
		</div>

		<section class="my-8">
			<div>
				<h2 class="text-2xl text-zinc-100 font-bold mb-4">
					Island Architecture en Acción
				</h2>

				<p class="text-zinc-50">
					Descubre cómo Astro te permite construir componentes
					independientes (islas) que mejoran el rendimiento de tu
					sitio web.
				</p>
			</div>

			<div class="my-4">
				<Card title="Bloque Estático" body={staticContent} />
			</div>
		</section>
	</main>
</Layout>
