---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import UniqueFeatures from "../components/UniqueFeatures.astro";
import IslandArchitecture from "../components/IslandArchitecture.astro";
---

<Layout title="Welcome to Astro.">
	<Hero />

	<main class="container mx-auto px-4 py-8">
		<UniqueFeatures />

		<section class="my-8">
			<IslandArchitecture />
		</section>
	</main>
</Layout>
