---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<div class="list-none rounded-md bg-zinc-800 p-4 shadow-[inset_0_0_0_1px_rgba(255,255,255,0.1)] transition duration-600 ease-[cubic-bezier(0.22,1,0.36,1)] hover:bg-gradient-to-r hover:from-[#7928ca] hover:to-[#ff0080] focus-within:bg-gradient-to-r focus-within:from-[#7928ca] focus-within:to-[#ff0080]">
	<a href={href} class="flex w-full flex-col items-start rounded-md bg-[#23262d] p-4 text-white opacity-80 hover:opacity-100 focus:opacity-100">
		<h2 class="mb-0 text-xl font-medium transition duration-600 ease-[cubic-bezier(0.22,1,0.36,1)] hover:text-[#ff0080] focus:text-[#ff0080]">
			{title} <span>&rarr;</span>
		</h2>
		<p class="mt-2 text-sm">
			{body}
		</p>
	</a >
</div>


