---
---

<section
  class="text-center my-4 p-6 bg-gradient-to-r from-[#7928ca] to-[#ff0080] text-transparent"
>
  <h1 class="text-zinc-100 text-4xl font-bold mb-4 ">
    <span >Astro:</span> R치pido por dise침o, flexible
  </h1>

  <h2 class="text-zinc-50 text-2xl  ">
   <span> Construye</span> sitios web m치s r치pidos con <span>Astro</span> 
  </h2>

</section>

